.env
__pycache__/
*.pyc

# Environment
.env
__pycache__/
*.pyc
*.ipynb_checkpoints
*.db
venv/

# Data files
data/
data/raw/
data/yolo_results.json
data/raw/images/tikvahpharma/

# Model weights and image output
runs/
*.pt

# Virtual environments
.venv/
env/
.conda/
*.egg-info/

# Docker
pgdata/

# DBT logs and general runtime logs
logs/
logs/dbt.log
